






.navbar {
    background-color: var(--lighterBlue);
    padding: 1.0rem 0rem;
    position: sticky;
}


.menubar li {
    list-style: none;
    padding: 10px;
    display: inline;
    font-weight: 550;
    color: white;
    font-size: 1.2rem;
}


.footerDiv {
    background-color: var(--lighterBlue);
    padding: 1.0rem;
    position: sticky;
    color: white;
    font-size: 1.1rem;
    font-weight: 550;
}