body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}


:root {
  --lighterBlue: #0C6A9E;
  --lessLightBlue: #024184;
  --darkerBlue: #030D42;
  --magenta: #8147AB;
  --brightMagenta: #F436BC;

}