
.banner {
/* background-image: url('../public/banner.jpg'); */
width: 100%;
min-height: 350px;
max-height: 700px;
background: linear-gradient(to bottom, 
rgba(0, 0, 0, 0.1) 65%, /* Slight overlay near the top */
rgba(255, 255, 255, 0.5) 82%, /* Gradual fade midway */
rgba(255, 255, 255, 1) 99%), /* Complete fade at the bottom */
url('../public/mainFrontBanner.jpeg') center/cover no-repeat fixed;
/* background-repeat: no-repeat;
background-position: center;
background-size: cover; */
padding:5rem 0rem;
  }

  .mainTag {
    color: var(--lighterBlue);
    text-align: center;
    font-size: 3rem;
    text-wrap: wrap;
    padding: 2rem 0rem;
    text-shadow:1px 1px 1px black;
    animation: slideIn 2s ease-in-out;
  }

.rotatingImage {
    width: 40%; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    animation: slideIn 4s ease-in-out;
    display: block;
    margin: 0 auto;
    /* border-radius: 50%; */
    transition: transform 0.1s linear; /* Smoothens the rotation */
    will-change: transform; /* Optimizes rendering for animations */
    
  }

  /* .rotatingImage:hover {
    animation: rotate 2s linear infinite;
  } */

  .affordable {
    text-align: center;
    animation: slideIn 3s ease-in-out;
    margin: 0rem 0rem;
    color: white;
    text-shadow: 2px 2px 4px black;
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .container {
    position: relative;
    width: 70%;
    height: 700px;
    /* background-color: #f0f0f0; */
    overflow: hidden; /* Ensures content doesn't flow outside */
    display: block;
    margin: 0 auto;
  }
  
  .div1 {
    position: absolute;
    top: 50px; /* Adjusts vertical position */
    left: 50px; /* Adjusts horizontal position */
    padding: 2rem;
    width: 450px;
    height: auto;
    background-color: var(--lighterBlue);
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
    color: white;
    z-index: 2; /* Ensures this div is on top */
    animation: slideIn 2s ease-in-out;
  }
  
  .div2 {
    position: absolute;
    top: 120px;
    left: 320px;
    width: 450px;
    min-height: 300px;
    height: auto;
    background-color: var(--darkerBlue); 
    box-shadow: 2px 4px 8px 3px rgba(0, 0, 0, 0.3);
    z-index: 1; /* This div is below the first */
    opacity: 0.9; /* Optional: Adds a translucent effect */
    animation: slideIn 3s ease-in-out;
  }

  .seoCont {
    width: 450px;
    height: auto;

  }


  .rotatingcontainer {
    padding: 3rem 0rem;
    /* display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; Ensures it's visible */
    overflow: hidden;
    /* Optional */
  }
  
  .rotatingimage {
    width: 200px; /* Adjust size as needed */
    height: auto;
    transition: transform 0.1s linear; /* Smoothens the rotation */
    will-change: transform; /* Optimizes rendering for animations */
  }

  .middleRow {
    flex: 1;
    padding: 3rem 0rem;
    /* background-image: url('../public/banner.jpeg'); */
    min-height: 500px;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    background: 
    linear-gradient(to bottom, 
    rgba(0, 0, 0, 0.1) 65%, 
    rgba(255, 255, 255, 0.5) 82%, 
    rgba(255, 255, 255, 1) 99%),
    
    
      /* linear-gradient(to top, 
    rgba(0, 0, 0, 0.1) 60%, 
    rgba(255, 255, 255, 0.5) 80%, 
    rgba(255, 255, 255, 1) 99% ), */
    
     
    url('../public/AdobeStock1.jpeg') center/cover no-repeat fixed;
  /* background-blend-mode: overlay; */
  }

  .quote {
    padding: 2rem 0rem;
    text-align: center;
    background-color: var(--lighterBlue);
    height: 100%;
    color: white;
  }

 

  .contactBtn {
    display: block;
    margin: 0 auto;
    padding: 1.4rem 2rem;
    background-color: var(--lighterBlue);
    border: none;
    border-radius: 30px;
    box-shadow: 1px 1px 8px 4px gray;;
  }

  .contactBtn:hover {
    background-color: white;
    color: var(--lighterBlue);
    border: 2px solid var(--lighterBlue);
  }

  .contactBtn:active{
    padding:1.3rem 1.8rem;
    background-color: white;
    color: var(--lighterBlue);
  }

  .comp {
    width:400px; 
    height: auto;  
    margin: 0 auto; 
    padding: 2rem 0rem;
    animation: slideIn 3s ease-in-out;
  }