
.banner {
/* background-image: url('../public/banner.jpg'); */
width: 100%;
min-height: 500px;
max-height: 700px;
background: linear-gradient(to bottom, 
rgba(0, 0, 0, 0.1) 65%, /* Slight overlay near the top */
rgba(255, 255, 255, 0.5) 82%, /* Gradual fade midway */
rgba(255, 255, 255, 1) 99%), /* Complete fade at the bottom */
url('../public/banner.jpg') center/cover no-repeat fixed;
/* background-repeat: no-repeat;
background-position: center;
background-size: cover; */
padding:5rem 0rem;
  }

  .mainTag {
    color: white;
    text-align: center;
    text-wrap: wrap;
    padding: 2rem 0rem;
    text-shadow:1px 1px 1px black;
    animation: slideIn 2s ease-in-out;
  }

.rotatingImage {
    width: 300px; /* Adjust size as needed */
    height: auto; /* Adjust size as needed */
    animation: slideIn 4s ease-in-out;
    display: block;
    margin: 0 auto;
    
  }

  /* .rotatingImage:hover {
    animation: rotate 2s linear infinite;
  } */

  .affordable {
    text-align: center;
    animation: slideIn 3s ease-in-out;
  }

  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
    to {
      transform: rotateY(360deg);
    }
  }

  @keyframes slideIn {
    from {
      transform: translateX(100%);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }


  .container {
    position: relative;
    width: 70%;
    height: 700px;
    /* background-color: #f0f0f0; */
    overflow: hidden; /* Ensures content doesn't flow outside */
    display: block;
    margin: 0 auto;
  }
  
  .div1 {
    position: absolute;
    top: 50px; /* Adjusts vertical position */
    left: 50px; /* Adjusts horizontal position */
    padding: 2rem;
    width: 400px;
    height: 400px;
    background-color: var(--lighterBlue);
    color: white;
    z-index: 2; /* Ensures this div is on top */
    animation: slideIn 2s ease-in-out;
  }
  
  .div2 {
    position: absolute;
    top: 120px;
    left: 320px;
    width: 400px;
    height: 400px;
    background-color: #0C6A9E; 
    z-index: 1; /* This div is below the first */
    opacity: 0.9; /* Optional: Adds a translucent effect */
    animation: slideIn 3s ease-in-out;
  }

  .seoCont {
    width: 400px;
    height: auto;
  }